<plugin name='ajaxdependancyselection' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>Vahid Hedayati, Alidad Soleimani</author>
  <authorEmail>badvad@gmail.com</authorEmail>
  <title>Ajaxdependancyselection Plugin</title>
  <description>Plugin defines secondary auto completion form field values ensuring it is bound on first auto completed form field, initial version written by Alidad</description>
  <documentation>http://grails.org/plugin/ajaxdependancyselection</documentation>
  <type>AjaxdependancyselectionGrailsPlugin</type>
  <resources>
    <resource>ajaxdependancyselection.AutoCompleteController</resource>
    <resource>ajaxdependancyselection.AutoCompleteService</resource>
    <resource>ajaxdependancyselection.AutoCompleteTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>
